@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}

.navbar .navbar-brand {
  font-size: 30px;
  float: left; 
}
.navbar .nav-item {
  padding: 34px 5px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 20px;
  padding: 0 !important;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
}
nav.navbar.sticky-top.navbar-expand-lg.bg-dark {
  background: #38527d !important;
}
a.nav-link {
  color: #fff;
}
.container_full {
  width: 100%;
  padding: 0px 15px;
  align-items: center;
}
.active {
  color: #4eb8e7 !important;
}
a.nav-link:hover {
  color: #4db3e2 !important;
}
a.button_blue:hover {
  background: #38527d;
  color: #fff !important;
  text-decoration: none;
}
.background_bg {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  padding-bottom: 25px;
  background-size: cover;
  margin-bottom: -6px;
}

.top_left_section {
  display: inline-block;
  width: 100%;
}
.left_section {
  width: 100%;
  display: inline-block;
  border: solid 2px #fff;
}
.left_section_in {
  color: #fff;
}
.left_section_in h1 {
  font-size: 17pt;
  width: 70%;
  display: inline-block;
  padding-left: 25px;
}
.left_section_in span {
  font-size: 17pt;
  width: 29%;
  display: inline-block;
}
a.button_blue {
  background: #4db3e2;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 17pt;
  padding: 10px 0;
  font-weight: bold;
  margin-top: 50px;
}
.first_left_section_in {
  padding-top: 20px;
}
.left_section.left_section_in {
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.roylity_top {
  width: 100%;
  display: inline-block;
  margin-top: 25px;
}
.roylity_top h1 {
  text-align: center;
  font-size: 24pt;
  margin-bottom: 25px;
  display: inline-block;
  color: #fff;
  width: 100%;
}
.image_box img {
  width: 100%;
}
.image_box.last_child {
  margin-right: 0px !important;
}
.image_box h1 {
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}
.image_box span {
  float: right;
}
.top_space {
  margin-top: 100px;
  border-right: solid 2px #fff;
  float: left;
}

.right_sec {
  float: left;
}
.right_section_in.last_child {
  margin-right: 0;
}
.right_section {
  width: 100%;
  display: inline-block;
}
.right_section h1 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 24pt;
  margin-top: 15px;
}

.right_section_in img {
  width: 100%;
}
.right_section_in .last_child {
  margin-right: 0px !important;
}
.right_section_in h1 {
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}
.right_section_in span {
  float: right;
}
.right_section_in_full.top_space_right {
  margin-top: 31px;
}
.cardCol img {
  max-width: 100%;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.mainOuter {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}
.borderCol {
  position: relative;
  padding-left: 20px; 
}
.borderCol:before {
  content: "";
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  width: 1px;
  background-color: #fff;
  left: 10px;
}
@media (min-width: 1400px){
  .borderCol:before {
    top: 3rem;
    bottom: 3rem;
    left: 20px;
  }
}
@media only screen and (max-width: 1920px) {
  nav.navbar.sticky-top.navbar-expand-lg.bg-dark {
    background: #38527d !important;
    padding: 15px 0;
  }
}
@media only screen and (max-width: 1500px) {
  nav.navbar.sticky-top.navbar-expand-lg.bg-dark {
    background: #38527d !important;
    padding: 15px 0;
  }
  .navbar .nav-item {
    padding: 14px 5px;
  }
  a.navbar-brand img {
    margin-top: 0 !important;
  }
  .navbar .nav-link {
    font-size: 16px;
  }
}


@media only screen and (max-width: 1290px) {
  .navbar .nav-item {
    padding: 34px 0px;
  }
  .left_section_in span {
    font-size: 17pt;
    width: 29%;
    display: inline-block;
  }
  .right_section_in_full.top_space_right {
    margin-top: 0;
  }
  a.navbar-brand img {
    width: 70%;
    margin-top: 11px;
  }
  nav.navbar.sticky-top.navbar-expand-lg.bg-dark {
    background: #38527d !important;
    padding: 0px 0;
  }
}

@media only screen and (max-width: 1150px) {
  a.nav-link {
    padding-left: 0;
    margin-left: 20px !important;
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1050px) {
  .left_section_in h1 {
    font-size: 14pt;
    width: 70%;
    padding-left: 15px;
  }
  .left_section_in span {
    font-size: 14pt;
    width: 29%;
    display: inline-block;
  }
}

@media only screen and (max-width: 991px) {
  button.navbar-toggler {
    float: right;
    margin-top: 20px;
  }
  ul.navbar-nav.mr-auto.w-100.justify-content-end {
    width: 100% !important;
    max-width: 100% !important;
  }
  .navbar .nav-item {
    padding: 11px 0px;
  }
  a.nav-link {
    padding-left: 0;
    margin-left: 0 !important;
    font-size: 23px !important;
    border-bottom: solid 1px #fff;
  }
  div#navbarSupportedContent {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .top_space {
    width: 100% !important;
    max-width: 100% !important;
  }

  .col-md-7.right_sec {
    width: 100% !important;
    max-width: 100% !important;
  }

  .res-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media (max-width: 767px) {
  .borderCol {
    padding-left: 0;
  }
  .borderCol:before {
    display: none;
  }
}
@media (max-width: 575px) {
  .mbLogo {
    display: flex;
    align-items: center;
  }
  .navbar .navbar-brand {
    flex-grow: 1;
  }
  a.navbar-brand img {
    width: 100%;
    max-width: 120px;
  }
}
@media only screen and (max-width: 500px) {
  .col-md-7.right_sec {
    max-width: 100%;
  }
}


@media only screen and (max-width: 425px) {
  .left_section_in h1, .left_section_in span {
    font-size: 11pt;
  }
}